version: 2.1

executors:
  amd64:
    machine:
      image: ubuntu-2404:2024.05.1
    resource_class: medium

  arm64:
    machine:
      image: ubuntu-2404:2024.05.1
    resource_class: arm.medium

platforms: &platforms
  - amd64
  - arm64

php_versions: &php_versions
  - "8.1"
  - "8.2"
  - "8.3"
  - "8.4"

workflows:
  build_test:
    jobs:
      - build:
          stream: test
          push: false
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              ignore: [ main, releases ]

  build_experimental:
    jobs:
      - build:
          stream: experimental
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ experimental ]
      - manifest:
          stream: experimental
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ experimental ]

  build_stable:
    jobs:
      - build:
          stream: stable
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ releases ]
      - manifest:
          stream: stable
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ releases ]

  build_latest:
    jobs:
      - build:
          stream: latest
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ main ]
      - manifest:
          stream: latest
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ main ]

  nightly_experimental:
    jobs:
      - build:
          stream: experimental
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ experimental ]
      - manifest:
          stream: experimental
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ experimental ]

  nightly_stable:
    jobs:
      - build:
          stream: stable
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ releases ]
      - manifest:
          stream: stable
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ releases ]
    triggers:
      - schedule:
          # Scheduled build for 2am AEST nightly.
          cron: "0 15 * * *"
          filters:
            branches:
              only: [ releases ]

  nightly_latest:
    jobs:
      - build:
          stream: latest
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
              executor: *platforms
          filters:
            branches:
              only: [ main ]
      - manifest:
          stream: latest
          context: docker-publishing
          matrix:
            parameters:
              php_version: *php_versions
          requires: [ build ]
          filters:
            branches:
              only: [ main ]
    triggers:
      - schedule:
          # Scheduled build for 2am AEST nightly.
          cron: "0 15 * * *"
          filters:
            branches:
              only: [ main ]

jobs:
  build:
    parameters:
      php_version:
        type: string
        default: ""
      executor:
        type: string
      push:
        type: boolean
        default: true
      stream:
        type: string
    machine: true
    executor: << parameters.executor >>
    steps:
      - checkout
      - run:
          name: Get SHA1 version
          command: |
            SHA1_VERSION="v2-$(git rev-parse --short HEAD)"
            echo 'export SHA1_VERSION=$SHA1_VERSION' >> $BASH_ENV
      - run:
          name: "Install: Container Structure Tests"
          command: |
            curl -LO https://storage.googleapis.com/container-structure-test/v1.11.0/container-structure-test-linux-<< parameters.executor >> && \
            mv container-structure-test-linux-<< parameters.executor >> container-structure-test && \
            chmod +x container-structure-test && \
            sudo mv container-structure-test /usr/local/bin/
      - run:
          name: Build, Test and Release
          command: |
            SHA1_VERSION="v2-$(git rev-parse --short HEAD)"
            make build ARCH=<< parameters.executor >> PHP_VERSION=<< parameters.php_version >> VERSION_TAG=v2-<< parameters.stream >>
            make build ARCH=<< parameters.executor >> PHP_VERSION=<< parameters.php_version >> VERSION_TAG=${SHA1_VERSION}
      - when:
          condition:
            equal: [ true, << parameters.push >> ]
          steps:
            - run:
                name: "Push image"
                command: |
                  echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
                  SHA1_VERSION="v2-$(git rev-parse --short HEAD)"
                  make push ARCH=<< parameters.executor >> PHP_VERSION=<< parameters.php_version >> VERSION_TAG=v2-<< parameters.stream >>
                  make push ARCH=<< parameters.executor >> PHP_VERSION=<< parameters.php_version >> VERSION_TAG=${SHA1_VERSION}

  manifest:
    parameters:
      php_version:
        type: string
      stream:
        type: string
    docker:
      - image: cimg/base:2024.09
    steps:
      - checkout
      - setup_remote_docker:
          version: previous
      - run:
          name: Push Manifest
          command: |
            export DOCKER_CLI_EXPERIMENTAL=enabled
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            SHA1_VERSION="v2-$(git rev-parse --short HEAD)"
            make manifest PHP_VERSION=<< parameters.php_version >> VERSION_TAG=v2-<< parameters.stream >>
            make manifest PHP_VERSION=<< parameters.php_version >> VERSION_TAG=${SHA1_VERSION}
